include header

link(rel='stylesheet', href='/css/font-awesome.min.css')
section.content-2.col-4(style='background-color: rgb(255, 255, 255);')
  .container
    u
      h3 Why
    |        FundMyVenture is here to make angel investing easy for everyone. The aim of FundMyVenture is to enable innovative companies with solid business understanding to raise funds. Startup owners should focus on building their businesses rather than spending their energy chasing investors and attending (useless) meetings. 
    br
    br
    |        FundMyVenture offers fund raising capabilities by two routes - equity and debt based financing. While equity based financing is targeted for early stage businesses (with relatively high risk of failure), debt based financing caters to established and mature businesses which are able to provide a low-risk capital gain mechanism to investors. Sign up with FundMyVenture - Your Gateway to investment in unlisted companies!
    br
    br
    |        We are based out of Bangalore. Please feel free to reach out to us on (+91)7829369467. You can also drop us a line at 
    a(href='mailto:reachout@fundmyventure.co') reachout@fundmyventure.co
    br
    br
    u
      h3 Vision
    |        We aim to become the leading portal for businesses to raise money from the people. We look at democratization of capital providing investors to put their money in alternative financial instruments like equity and debt based financing. Our sincere belief is that it is not compulsory for a private unlisted company to run after traditional sources of private equity like venture capital and offline angel groups.
    br
    br
    u
      h3 Team
    section#team.bg-light-gray
      .container
        .row
          .col-sm-4
            .team-member
              center
                img.img-responsive.img-square(src='assets/images/arpit_jain.jpg', alt='')
                h3 Arpit Jain
                // <p class="text-muted"><center>Founder</center></p>
                h4.large.text-muted
                  | Founder & CEO
                  //
                    Arpit holds a B.Tech - M. Tech (dual degree) in Computer Science & Engineering, IIT Kanpur. He has previously worked with Xerox Research Labs & has internship experience with Yahoo, Zomato, IRIT (French research lab), IIM Bangalore & IIM Calcutta.
          //
            <div class="col-sm-4">
            <div class="team-member">
            <center>
            <img src="assets/images/legal.jpg" class="img-responsive img-square" alt="">
            <h3>Legal team</h3>
            <h4 class="large text-muted">
            Partner
            </h4>
            </center>
            </div>
            </div>
          .col-sm-4
            .team-member
              center
                img.img-responsive.img-square(src='assets/images/q.png', alt='')
                h3 You?
                // <p class="text-muted"><center>Founder</center></p>
                h4.large.text-muted
                  | Open Position
                  //
                    Arpit holds a B.Tech - M. Tech (dual degree) in Computer Science & Engineering, IIT Kanpur. He has previously worked with Xerox Research Labs & has internship experience with Yahoo, Zomato, IRIT (French research lab), IIM Bangalore & IIM Calcutta.
      u
        h3 Advisory Board
      section#team.bg-light-gray
        .container
          .row
            .col-sm-4
              .team-member
                center
                  img.img-responsive.img-square(src='assets/images/ruchi_dana.jpg', alt='')
                  h3 Ruchi Dana
                  // <p class="text-muted"><center>Founder</center></p>
                  h4.large.text-muted
                    | Advisor
                    //
                      Arpit holds a B.Tech - M. Tech (dual degree) in Computer Science & Engineering, IIT Kanpur. He has previously worked with Xerox Research Labs & has internship experience with Yahoo, Zomato, IRIT (French research lab), IIM Bangalore & IIM Calcutta.

include footer