include header
style(type="text/css").
  div.polaroid {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  }
section.content-2.col-4(style="background-color: rgb(255, 255, 255);")
  .container
    h1(style="color:000000;")
      u Advantages
    |        
    |         
    .row
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/raise.png")
          |                     
          .caption
            div
              h3 Raise money easily
              |                             
              font(face="Verdana")
                | Our solutions makes fund raising very easy for your startup. Whether you are early stage or in growth stage, we have the solutions for you.
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/mentor.png")
          |                     
          .caption
            div
              h3 Get mentorship & advisors
              |                             
              font(face="Verdana")
                | The importance of a good business mentor should never be underestimated, especially if you are a new business.
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/focus.png")
          |                     
          .caption
            div
              h3 Focus on your business.
              |                             
              font(face="Verdana")
                | Let us take care of your fund raising process so that you can work on what you do best - Building your busines!
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/entrepreneur4.png")
          |                     
          .caption
            div
              h3 Find sweat equity partners!
              |                             
              font(face="Verdana")
                | Find people who share similar passion for your company and can contribute their equity via sweat equity apart from finanical support.
    |       
    h1(style="color:000000;")
      u
        | Fund raising options
        u
    h4
      | Companies can opt to raise funds by giving away equity or by debt instruments (such as debentures, convertible notes, etc):
    br
    |            
    .col-lg-6
      .col-lg-offset-1.padder-8.polaroid
        h4.m-b-16
          b
            u Equity
        |                 
        p.m-b-24(style="min-height:60px;")
          | Giving equity is one of the most common and preferred way of raising funds by 
          b early stage businesses
          | . It is also one of the common ways to get advisors for your business. Early stage businesses often prefer to include investors by making them a 
          b stakeholder
          |  in the risk as well as the reward of the venture. Investors gain stake in the company proportional to the amount invested by them during a funding round by a company. 
          br
          br
          |  
          a(href="http://www.mca.gov.in/Ministry/pdf/CompaniesAct2013.pdf", target="blank")
            b Companies Act 2013
          |  dictates that there can be atmost 
          b 200
          |  shareholders in a private limited company in a single financial year - making it important for company promoter's to decide the company's valuation and minimum investment amount per investor in a fundraise.
    |       
    |             
    style(type="text/css").
      div.horizontalgap{height:1px;width:0px;}
    |             
    .horizontalgap(style="width:10px")
    |               
    |             
    .col-lg-6
      .col-lg-offset-1.padder-8.polaroid
        .form-group.radio-toggler
          h4.m-b-16
            b
              u Debt
          |               
          |                 
          p.m-b-24(style="min-height:60px;")
            | Debt based financing is typically used by 
            b mature/established businesses
            |  with a sufficiently long history of positive cashflows. A few typical examples include manufacturing/furniture/e-commerce firms which work on credit based payment system with raw material suppliers. Such loans often fall into the unsecured loans category and can be granted only by NBFC's (Non Banking Financial Corporations). Unlike equity based fundraising, debt fundraising involves making payments on a regular basis to the investors at a fixed rate of return. 
            br
            br
            | This feature is currently 
            b NOT
            |  supported by FundMyVenture as it is not registered as a NBFC.
    //
      <div class="row">
      <ul class="nav nav-pills nav-justified">
      <li class="active"><a data-toggle="pill" href="#home">Equity</a></li>
      <li><a data-toggle="pill" href="#menu1">Debt</a></li>
      </ul>
      <div class="tab-content">
      <div id="home" class="tab-pane fade in active container">
      <p>Giving up equity is one of the most common and preferred way of raising funds by early stage businesses. Early stage businesses often prefer to include investors as shareholders by making them a stakeholder in the risk as well as the reward of the venture. Investors gain stake in the company based on the amount invested by them during a funding round by a company. Please note that Companies Act 2013 states that there can be atmost 200 shareholders in a private limited company in a single financial year - making it important for company promoter's decide the company's valuation and minimum investment amount per fundraise cycle.</p>
      </div>
      <div id="menu1" class="tab-pane fade container">
      <p>Debt based financing is typically used by mature/established businesses with a sufficiently long history of positive cashflows. A few typical examples include manufacturing/furniture/e-commerce firms which work on credit based payment system with raw material suppliers,. Such loans often fall into the unsecured loans category and can be handled only by NBFC's (Non Banking Financial Corporations). FundMyVenture has partnered with  to provide debt based financing methods to entrepreneurs looking forward to raising funds via debt instruments. Unlike equity based fundraising, debt fundraising involves making payments on a regular basis to the investors at a fixed rate of return.</p>
      </div>
      </div>
      </div>
    h1(style="color:000000;")
      u How it works
    |         
    h3 Entrepreneur submits the application
    |         
    img(src="pitch_process.svg", width="100%", alt="Investment pitch process")
    |         
    h3 Investors evaluate available deals
    |         
    img(src="investor_flow_diagram.svg", width="100%", alt="Investor process")
    |          
    h1(style="color:000000;")
      u What you get with FundMyVenture
    |         
    .row
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering1.png")
          |                     
          .caption
            div
              h3 Great Dealflow
              |                             
              font(face="Verdana")
                | No matter what stage your company is in, FundMyVenture makes it easy for investors to discover your offering.
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering2.png")
          |                     
          .caption
            div
              h3 Deal Curation
              |                             
              font(face="Verdana")
                | We thoroughly vet each campaign to ensure that your pitch is market-ready. We also provide 'coaching' to help you create an effective pitch.
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering3.png")
          |                     
          .caption
            div
              h3 Simple co-investment
              |                             
              font(face="Verdana")
                | Apart from angel groups, which typically introduce you with a few angels, we help you connect to a much larger 'crowd', providing a much bigger network.
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering4.png")
          |                     
          .caption
            div
              h3 Real Investment
              |                             
              font(face="Verdana")
                | The investment terms are decided by a seasoned investor who also buys a significant share in the fundraise thereby making it a sweet deal for everyone.
    |         
    .row
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering5.png")
          |                     
          .caption
            div
              h3 Investor Protection
              |                             
              font(face="Verdana")
                | Every investor receives extensive protections and rights with our professional-grade shareholder agreements taking the hassle away from you so that you can focus on your core business
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering6.png")
          |                     
          .caption
            div
              h3 End to End Service
              |                             
              font(face="Verdana")
                | We're not just introducers. Our team can handle all your legal documentation, administration, payment taking care of your hassles during a fundraising round.
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering7.png")
          |                     
          .caption
            div
              h3 Simplified Administration
              |                             
              font(face="Verdana")
                | Our nominee structure ensures that only shareholders with sufficient investment have a say in your day to day activities, thereby allowing you to run your company as per your vision!
      |             
      div
        .thumbnail
          .image
            img.undefined(src="assets/images/offering8.png")
          |                     
          .caption
            div
              h3 Ongoing Investor Relations
              |                             
              font(face="Verdana")
                | Though it is highly recommended that the company keep in touch with its investors post fundraise by regularly updating them, we too will help you by dispersing this information to nominee investors.
style(type="text/css").
  .scroll-top {
  border-radius:6px;
  position:fixed;
  bottom:4%;
  right:4%;
  left:4%;
  z-index:100;
  background: #ffcc33;
  font-size:24px;
  }
  .scroll-top a:link,.scroll-top a:visited {
  color:#222;
  }
  #button {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  }
script(type="text/javascript").
  function f(){
  document.getElementById("a").style.display="none";
  }
center
  #a.nav.pull-right.scroll-top
    span.glyphicon.glyphicon-heart
    |   Have a startup? 
    a(href="venture_signup.php") Signup for free
    |  to begin fundraise for your business. 
    |         &nbsp&nbsp&nbsp
    input#button(type="button", onclick="f()", value="X")
include footer