include header
style(type="text/css").
  .panel-title:hover {
  cursor: pointer;
  }
|   
script(src="assets/bootstrap/js/bootstrap.min.js")
|   
link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
|   
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
|   
script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
|   
section#header1-73.mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--full-height.mbr-section--bg-adapted.mbr-parallax-background.mbr-after-navbar
  .mbr-box__magnet--sm-padding.mbr-box__magnet--center-left
    .container
      center
        h1 Frequently Asked Questions
      a(href="#general")
        h4 General Questions about FundMyVenture
      a(href="#generalinvestor")
        h4 General Investor Questions
      a(href="#generalstartup")
        h4 General Startup Questions
      //
        <a href="#investinequity"><h4>Invest in Equity</h4></a>
        <a href="#investindebt"><h4>Invest in Debt</h4></a>
        <a href="#raisecapitalequity"><h4>Companies - Raise capital in return of equity</h4></a>
        <a href="#raisecapitaldebt"><h4>Companies - Raise capital as debt</h4></a>
      br
      #general
        h4 General Questions about FundMyVenture
        #accordion1.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#1_1")
                | What is FundMyVenture?
            |         
            #1_1.panel-collapse.collapse
              .panel-body
                | FundMyVenture is one of its discovery and deal making platform to help startups raise funds easily and efficiently. We believe that great ideas are brimming in India, but they die an early death due to lack of funds and social validation. We are often referred to as a crowdfunding platform, marketplace lender, or peer-to-peer lender. Whatever term you choose to use, we are here to connect investors who want to invest in innovative businesses that need real capital – either through debt or equity - it’s that simple. Our aim is to democratize the way Indian startups raise funds by going directly to the people (thanks to favorable proposals from the #StartupIndia initiative by the Government of India). People support these business proposals not for charity, but in return for equity. If the company you invest in makes it big, you also get a share in their growth story. Music to the ears, isn't it? :)
                br
                br
                | Through FundMyVenture platform, accredited and institutional investors have the opportunity to invest in real estate opportunities online through a private, secure website. Investors can browse investments, review due diligence materials and sign legal documents securely online. Once invested, investors have access to an investor dashboard, giving them 24/7 access to watch how their money is working for them.
                br
                br
                | Businesses looking for debt or equity capital can do so by filling out an online application, creating an account and going through our due diligence process.
                br
                br
                | We are here to bring easy investment opportunities to everyone through the use of technology.
          |     
          |     
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#1_2")
                | How do I get started on FundMyVenture.co?
            |         
            #1_2.panel-collapse.collapse
              .panel-body
                | If you want to invest money, you can start 
                a(href="investors.php") here
                | .
                | If you are looking for debt or equity for your business, you can start by completing an application 
                a(href="businesses.php") here
                | .
          |     
          |     
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#1_3")
                | Who are the people behind FundMyVenture?
            |         
            #1_3.panel-collapse.collapse
              .panel-body
                | FundMyVenture.co is a team of professionals, with experience in private equity, technology and finance. You can learn more about us 
                a(href="about.php") here
                | .
                br
                br
                |     Currently, FundMyVenture is being run by Arpit Jain. Arpit is responsible for the company’s direction and operations. Arpit has previously worked on Computer Science research with Xerox Research Labs, India and has internship experience with Yahoo, and Zomato. He also has been on internships to IRIT (France), Indian Institute of Management Bangalore (IIMB) and Indian Institute of Management Calcutta (IIMC). Arpit possesses a bachelors and masters degree in Computer Science & Engineering from IIT Kanpur, India. Arpit holds 2 patent applications and 2 publications so far and was among the founding team of Entrepreneurship Cell at IIT Kanpur.
                br
                br
                |     Ruchi currently serves as an advisor to the company. Ruchi, is also a board member at DANA Group, which is one of biggest steel conglomerates based out of Dubai. She also has experience working with New Silk Route and Golden Seeds, both of which are venture Capital & private Equity firms based out of NY. Ruchi has been very close to startups and launched PikAVenture in 2013 to help startups raise money from angel investors. She has a MBA from Stanford Graduate School of Business and MBBS degree from Aligarh Muslim University.
                br
                br
                |     Rajeev serves as a legal partner who handles the aspects of a deal, starting from formulating termsheets, and other documentation keeping the interest and safety of the investor as the first priority. Rajeev is a certified chartered accountatn holds CA charter from ICAI. He also has experience teaching students for CA/CS exams.
          |  
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#1_4")
                | How is this different than a traditional Angel Groups/Seed Funds/Venture Capital Firms?
            |         
            #1_4.panel-collapse.collapse
              .panel-body
                | We are very different from traditional Angel Groups/Seed Funds/Venture Capital Firms in the following aspects.
                br
                br
                |                 
                b Angel Groups
                | : Instead of the letting the general partner or the managing team decide which companies to pitch, FundMyVenture allows investors to pick businesses and teams as per their liking. We strongly believe that every investor should have to freedom to vet businesses to which he/she can provide the maximum inputs apart from financial help. This, however, does not mean that you are alone in your investment, we also connect you with other investors interested in the deal so that you can collectively work on opportunities around the business.
                br
                br
                |                 
                b Seed funds
                | : We don't use institutional funds to support businesses. We, in a way, crowdsource investment opportunities to individuals/organizations to help them invest as per their tastes and interests.
                br
                br
                |                 
                b Venture Capital Firms
                | : Like seed funds, we don't rely on institutional funds. Besides that, we currently operate in a much limited capacity compared to venture capital firms. In fact, for most of our investments, we try to push the startups that come to our platform for venture capital funding in later stage of their businesses, which also acts in interest for investors on FundMyVenture platform.
          |      
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#1_5")
                | How is FundMyVenture different from Mutual Funds?
            |         
            #1_5.panel-collapse.collapse
              .panel-body
                | We are not a mutual fund. SEBI (Securities and Exchange Board of India) actually does a very good job in their process while assigning Mutual Fund status to a company. Unlike mutual funds which invest in publicly traded stocks, we provide our investors with investment opportunities in unlisted companies.
                br
                br
                |                 When investing in a mutual, most investors have little to no information regarding actual stocks the fund invests in and cannot invest based on their specific preferences. With FundMyVenture, investors can invest in individual private equity deals giving added transparency and control over investment selection (for example, deal type – you may believe in retail, but not so much in technology or the other way around), location, return profile, and hold period(if applicable).
                br
                br
                |                 In addition, Mutual Funds are such large entities that they can rarely participate in many of the smaller investments FundMyVenture has access to, such as startups and even family businesses.
                b
                  | We give investors access to deals they have never had access to before.
          |      
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#1_6")
                | Is FundMyVenture secure?
            |         
            #1_6.panel-collapse.collapse
              .panel-body
                | FundMyVenture is committed to protecting the privacy and confidentiality of information. This includes but is not limited to physical and electronic procedures to protect information from loss, misuse, damage or modification by unauthorized access. Some of the central features of our security program are:
                br
                | 1. Internal and external review of our public and non-public Internet sites and services;
                br
                | 2. Rigorous multi-stage testing of the operability of products and features before they are exposed to the Internet as well as updates for known vulnerabilities;
                br
                | 3. Monitoring of our systems infrastructure to detect weaknesses and potential intrusions.
                br
                | 4. We 
                b never
                |  share any of the information on our platform with third party vendors without taking due consent from the parties involved. Startups, believe us, your idea and details are safe with us. The same thing applies to investors as well.
                br
                br
                b Things to expect in future:
                br
                | We are still an early stage company, and will incorporate features like firewalls and encryption very soon. Startups and investors should not still worry, as until we have the systems in place, we have your data safe with us in physical form away from our servers/database to prevent any untoward attack on our systems.
      |     
      #generalinvestor
        h4 General Investor Questions
        #accordion2.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_1")
                | What is investing in businesses about?
            |         
            #2_1.panel-collapse.collapse
              .panel-body
                | Investing in businesses is about picking businesses that you believe have the potential to grow. You invest in exchange for a portion of their equity, meaning that you buy shares in the business. If a business you've invested in succeeds, the shares that you own will become worth more than you paid for them. However, if the business fails - as the majority of early-stage businesses do - you'll lose your investment. It is therefore very important that everyone does a deep thinking before deciding to invest in companies.
          |     
          |     
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_2")
                | Can investing in businesses be profitable?
            |         
            #2_2.panel-collapse.collapse
              .panel-body
                | It depends. Statistics show that angel investing can be profitable if you diversify your investments across promising startups. Though no angel investment can assure sure shot returns, studies have shown that wise decisions taken over the merit of the idea, team and execution can often beat returns from traditional investment sources in the market.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_3")
                | I get that investing in early stage businesses can be very risky, why should I still do it?
            |         
            #2_3.panel-collapse.collapse
              .panel-body
                | We at FundMyVenture try to see it this way - no pain, no gain. Its true that most businesses fail early, but still a small chunk (statistically speaking) are able to bear the heat of the market. Investments made in such companies can often return many times the original investment you made. In a nutshell, if you have full faith in the business along with the team and their vision for the company, you should invest in it.
          |     
          |     
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_4")
                | Will investing in businesses continue to be as profitable in the future?
            |         
            #2_4.panel-collapse.collapse
              .panel-body
                | No one can say for sure, but we predict that it will become even more profitable, especially relative to other traditional forms of investment (like mutual funds, stocks, bank deposit,  bonds, debentures, etc). In a world where the creation of value is increasingly driven by innovation and adaptability rather than scale, businesses that are small and agile are well-positioned to outperform their bigger, slower counterparts. There will continue to be many failures of course, but we think that there will be more, and larger, successes, which in turn will mean that increasingly outsized returns will be available to investors in early-stage companies.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_5")
                | Why do businesses need to raise investment?
            |         
            #2_5.panel-collapse.collapse
              .panel-body
                | When an entrepreneur starts a new venture, they usually need money to turn the idea into the beginnings of an actual business that can reach out to customers and later-stage investors. Depending on the business, this capital might allow them to build a minimum viable product (technology startups), buy equipment (manufacturing businesses), lease space and acquire inventory (retail companies), hire a great team, expand their market and customer acquisition efforts, and so forth.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_6")
                | How much equity do investors get for their investment?
            |         
            #2_6.panel-collapse.collapse
              .panel-body
                | Each business decides how much money it wants to raise in exchange for a certain percentage of its equity, and each investor’s equity interest will be proportionate to the size of their investment. So if a campaign raises Rs. 10,50,000 in exchange for 20% of its equity, and you invest Rs. 10,500 (1% of Rs. 10,50,000), you will receive 0.20% (1% of 20%) of the equity of the business.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_0")
                | I have no idea about investing in businesses. I am a complete noob at it. How can I possibly invest in businesses.
            |         
            #2_0.panel-collapse.collapse
              .panel-body
                | Don't worry. We understand your concern. We try our best to connect the companies raising funds on FundMyVenture to first raise a substantial percentage of their fundraise from seasoned angels and other agencies (angel groups, early stage investment funds) so that the deals you see on FundMyVenture are vetted by people who already know the process and analysis that goes behind investing in startups.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_7")
                | Is FundMyVenture an angel network?
            |         
            #2_7.panel-collapse.collapse
              .panel-body
                | No. Angel networks introduce investors and entrepreneurs but tend not to get closely involved in the investment process - it’s up to each investor and each entrepreneur to negotiate a deal individually and get lawyers to draft up the necessary contracts. FundMyVenture is a full investment platform, allowing investors to invest in businesses directly. It is upto the investor and the startup's discretion whether they want to take up the legal work by themselves or with our partner legal team. Many angels choose to invest through FundMyVenture because of the increased efficiency and access to deal flow.
          |      
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_need")
                | Why do people need FundMyVenture to be able to invest?
            |         
            #2_need.panel-collapse.collapse
              .panel-body
                | Unless they're extremely wealthy and have lots of time on their hands, it is very difficult for most people to invest in early-stage businesses the traditional way as a business angel. Due to transaction costs and other considerations, most angels find they need to invest at least Rs. 2,00,000 per business; and because this is a high-risk type of investing, many angels try to invest in at least 10 companies and often more. This means that to be an angel, people generally need to have Rs. 20,00,000 or more to allocate just to businesses (which means that they need to have far more than Rs. 20,00,000 in order to build a diversified portfolio that includes safer assets), and they also need to have the time to find, negotiate and execute a large number of offline investments.
                br
                |  Investors with that much money and time available might not need FundMyVenture (although we can still provide them with access to investment opportunities they might not otherwise find, and more efficient investing). For everyone else, though, FundMyVenture provides the chance to invest small amounts of money through a streamlined, online process, which means that we're the one way to participate in the benefits of investing in early-stage businesses without having both a fortune and tons of time to spare.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_8")
                | Is FundMyVenture like peer-to-peer lending?
            |         
            #2_8.panel-collapse.collapse
              .panel-body
                | There are similarities but also important differences. The concept of having many people provide finance in small quantities via the internet was pioneered by peer-to-peer lending platforms.    However, there are two major distinctions between peer-to-peer lending and FundMyVenture. First, FundMyVenture is generally about early and growth-stage finance for businesses, whereas most peer-to-peer lending sites focus on personal finance or later-stage businesses. And second, FundMyVenture is about equity investment rather than debt, which means that investors who use FundMyVenture can achieve much higher returns than they would in peer-to-peer lending, but they also bear the risks of the business and won't get their original investment back if the business fails.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_9")
                | Is FundMyVenture a form of crowdfunding?
            |         
            #2_9.panel-collapse.collapse
              .panel-body
                | Yes. Crowdfunding is a broad term that has come to be used for a wide-range of financing techniques, including charitable and political donations, art patronage and entrepreneurial finance. Most forms of crowdfunding have not provided funders with a potential for financial return: they usually rely on altruistic giving or non-monetary rewards (donation and reward based crowdfunding). FundMyVenture allows people to back businesses by crowd investing, rather than donating, and therefore receive genuine financial returns when their investments are successful.
                br
                |                 An important example here is that of Oculus Rift. While Oculus raised initial money (to realize the market value proposition) via reward based crowdfunding website Kickstarter, none of the people who backed the project then on Kickstarter got any return when Oculus Rift was acquired by Facebook for $2 Billion!
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_10")
                | Is there a chance investors could lose more than they invested?
            |         
            #2_10.panel-collapse.collapse
              .panel-body
                | No. As an equity investor, investor liability will be limited to the amount invested, which means that even though they might not get their investment back, they can't be called on to pay anything more no matter what happens to the business.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_11")
                | What are the main risks of investing?
            |         
            #2_11.panel-collapse.collapse
              .panel-body
                | There are three key risks when investing in early-stage and growth-focused companies. 
                br
                | The business could fail, and investors won't get any money back. 
                |                 
                br
                | Even if the business succeeds, investments are likely to be illiquid for a substantial period of time - often a number of years - meaning that investors are unlikely to be able to sell the investment and will likely not receive dividends from it either. 
                |                 
                br
                | There is the risk of dilution: if the startup raises more capital later on (which most successful businesses need to do), the percentage of equity that existing investors hold in it will decrease relative to what they originally had.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_12")
                | Should anyone invest all of their money in businesses?
            |         
            #2_12.panel-collapse.collapse
              .panel-body
                | Absolutely not. We strongly suggest that investors invest most of their capital in safer, more liquid assets, such as mutual funds, bonds and bank deposits. As a rule of thumb, active angel investors tend to invest no more than between 5% and 15% of their capital in early-stage businesses. Whatever proportion of money users choose to invest, the 
                b most important thing is that they can afford to lose all of it
                | .
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_13")
                | Should users invest money in one business or small amounts in multiple businesses?
            |         
            #2_13.panel-collapse.collapse
              .panel-body
                | We think that the better practice is to diversify by investing small amounts in multiple businesses. Because the distribution of returns from early – stage businesses is highly skewed - meaning that the majority of startups fail, and most of the profits come from a few big successes - investors are more likely to make a profit by investing in a number of businesses in the hopes that the successes of a few outweigh the losses of the rest.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_14")
                | Who can invest on FundMyVenture?
            |         
            #2_14.panel-collapse.collapse
              .panel-body
                | People from around the world may invest through FundMyVenture. While government of India imposed strong regulations on funding coming from outside India, rules are getting formalized day by day. For Indian nationals, funding in startups is not a highly regulated activity and can be done if one sticks to the guidelines prescribed by the Government of India (don't worry, we are here to help and notify you of the restrictions imposed, if any). 
                br
                | Please contact reachout@fundmyventure.co for further details.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_15")
                | Does FundMyVenture review each campaign's Q&A section?
            |         
            #2_15.panel-collapse.collapse
              .panel-body
                | We do not review or approve the content in the Q&A which accompanies FundMyVenture campaigns. The Q&A constitutes "one-off communications" between entrepreneurs and potential investors and should be treated as one-on-one conversations. It is the responsibility of a campaigning entrepreneur to monitor and respond to questions raised in their Q&A and respond to them accordingly. We are not able to remove Q&A content on request, however, we do reserve the right to remove any content in the Q&A that we consider spam, abuse or trolling.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_16")
                | Does FundMyVenture advise as to where to invest?
            |         
            #2_16.panel-collapse.collapse
              .panel-body
                | We are not authorised to give advice. While we confirm and approve all the information provided in each campaign, we do not make our own judgment about whether it's a good business. We believe that a large number of diverse investors are better suited to assess the business’s prospects than a few professional managers. That said, we do our best to exclude businesses that are proposing to do something illegal, unethical or just not viable.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_17")
                | Is there a minimum or a maximum investment?
            |         
            #2_17.panel-collapse.collapse
              .panel-body
                | It depends. Government of India imposes a restriction that a company can raise money from a maximum of 200 investors in one financial year. As a result, it is often possible that there is a minimum investment an individual needs to make to ensure that they get their name in the shareholder's certificate. For example: A company trying to raise 1 crore in their fundraise cannot simply afford to include every investor's name in the share holder's certificate if their investment is say less than Rs. 10,000. The maximum investment is however much money the business is willing to accept, less anything that's already been committed by other investors.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_18")
                | How do I pay for an investment?
            |         
            #2_18.panel-collapse.collapse
              .panel-body
                | Currently, we allow only bank transfers as the medium of exchange for the transaction. We do not charge any fees for paying for investments or depositing funds in your Investment Account. However, you will be responsible for any fees charged by your bank when making a bank transfer.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_19")
                | Why can't I pay with 3rd party payment gateway solutions?
            |         
            #2_19.panel-collapse.collapse
              .panel-body
                | We understand your concern. We are working on tying up with payment processing companies like Paytm/CC Avenue to assure easy transfers. But there are certain issues associated with such transactions. Typically, payment processing companies take up atleast 2% cut out of the total transaction. This translates to a huge amount when the transaction size is high (Rs. 1000 for every investment of Rs. 50,000).
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_20")
                | What happens if a fundraise doesn’t reach its target?
            |         
            #2_20.panel-collapse.collapse
              .panel-body
                | Investors will get their money back in full. FundMyVenture operates on an all-or-nothing basis, meaning that if the business does not raise all of the money its campaign is seeking within it's allotted campaign period, it gets nothing and investors receive their funds back into their account.
                br
                |                 If however, say the fundraise is stuck very close to completion (greater than 90% of the initial ask), then it is upto the individual investor and the startup if they want to continue with the transaction. A benchmark of 90% is generally kept so that the entrepreneur gets enough money to deliver what they promised off in the first place (during the fund raise).
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_21")
                | What is "overfunding" of fundraise campaigns?
            |         
            #2_21.panel-collapse.collapse
              .panel-body
                | After a fundraise has reached 100% of its funding target, entrepreneurs have the option of raising more than their target investment amount if the demand is there from investors. We call this "overfunding". 
                br
                |  We operate an all-or-nothing model where entrepreneurs must reach their minimum target or investors get their funds back. But if a fundraise goes into overfunding, the entrepreneur will be able to accept any amount from 100% and up during the remaining duration of their fundraise (in exchange for a corresponding amount of additional equity). Entrepreneurs are not required to take investment but reserve the right to accept any amount beyond 100%.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_22")
                | Once a fundraise has reached its target will the investment definitely be completed?
            |         
            #2_22.panel-collapse.collapse
              .panel-body
                | No. Once all the money has been invested, we conduct a legal due diligence process and negotiate a legal agreement with the business on behalf of investors before the investment is completed. If we identify problems in the legal due diligence process or are unable to agree legal terms, we'll cancel the investment and return funds back to investors, just as we would if the fundraise had not received commitments for all of the money it was seeking.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_23")
                | Are investments public?
            |         
            #2_23.panel-collapse.collapse
              .panel-body
                | Investors can choose to make each investment public or anonymous at the time of investment.
                | Even if an investment is private, the business will be informed of the identity of all of their investors before the investment is completed, and in certain cases investments may be recorded in public filings or elsewhere as required by law.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_24")
                | Can I withdraw my funds?
            |         
            #2_24.panel-collapse.collapse
              .panel-body
                | If you’ve transferred money into your account and not yet invested it, or if money has been refunded or paid to your account you can withdraw the money at time. However, once the deal is done, it is typically not possible for the investor to withdraw the invested amount.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_25")
                | What are the eligibility requirements in order to make investments through FundMyVenture?
            |         
            #2_25.panel-collapse.collapse
              .panel-body
                | To make investments, you need to self-certify as a "high net worth individual" or a "sophisticated investor" (or, if you are an institution, a “high net worth company, unincorporated association, etc”). This is necessary to show us that that you have the professional judgment and understanding to appreciate the risks and considerations of investing in early-stage businesses as an asset class.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_26")
                | What do users get for their investment?
            |         
            #2_26.panel-collapse.collapse
              .panel-body
                | Users purchase ordinary shares in a business. These are the same type of shares that the founders and other early investors will usually have.
                | This structure means that all investors are given the opportunity to vote and receive regular updates from the businesses they've invested in directly through the platform. FundMyVenture also tries to keep in regular touch with the entrepreneurs so that the investors are up to date with the status of their investments.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_27")
                | What's to stop entrepreneurs from running away with the money?
            |         
            #2_27.panel-collapse.collapse
              .panel-body
                | Us. We have a number of measures in place – including conducting upfront checks, holding entrepreneurs and businesses accountable for the information they have provided us, and, if necessary taking legal action against the entrepreneurs and business for non-compliance with the subscription agreement – to ensure that the  investment monies are used for genuine business purposes. Entrepreneurs may make bad business choices, and that's a risk investors bear, but if any entrepreneur tries to act dishonestly we will investigate and, if appropriate, pursue legal action against them. That said, we believe that 99.9% of entrepreneurs are well-intentioned people trying to create great businesses, and we expect only to have to use these measures on rare occasion.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_28")
                | What will the tax treatment of investments be?
            |         
            #2_28.panel-collapse.collapse
              .panel-body
                | In the absence of any tax relief, shares will be treated similarly to any other equity investment investors might hold. Any questions in relation to your tax position should be addressed with a professional adviser.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_29")
                | Can investors stay involved with businesses after they've invested?
            |         
            #2_29.panel-collapse.collapse
              .panel-body
                | Absolutely. In addition to watching the business’s progress through the Portfolio section of the website, investors are welcome to reach out to the business to offer support, advice or mentorship at any time. One of the biggest benefits to a business using FundMyVenture to raise capital is that it can tap the expertise and wisdom of its large base of investors.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_30")
                | How do investors make money?
            |         
            #2_30.panel-collapse.collapse
              .panel-body
                | The main way investors can make money from investments is if they sell their shares. This is most likely to happen if the business is bought by another company or floats on a stock exchange – also called an exit event. It takes time for businesses to grow to the point of exit; it may take several years for this to occur. In addition, investors may also receive dividends the company pays on their shares. Another way for investors to make money is to sell their shares to other investors, however doing this is a bit of a problem as unlike publicly traded stocks, it is hard to find a
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_31")
                | What happens if a business fails?
            |         
            #2_31.panel-collapse.collapse
              .panel-body
                | This is more likely to happen than not. In some cases the business will either be wound up or sold for a nominal price, while in other cases the business won't formally shut down but we'll write off the investment and dispose of the shares. Any proceeds from these processes will be distributed to investors, but they're likely to represent far less than the original investment, and there is a chance that they may not get any proceeds at all.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_32")
                | Are FundMyVenture investments safe?
            |         
            #2_32.panel-collapse.collapse
              .panel-body
                | No. The equity of an early-stage business is considered a high risk investment, and in most cases money will not be returned to investors. The goal with this type of investing is to invest in one or several businesses that perform so well that they more than compensate for the ones that don't work out. But as there's no guarantee that investors will pick one of the big winners, investors should only invest money they can afford to lose.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#2_33")
                | What fees do you charge investors?
            |         
            #2_33.panel-collapse.collapse
              .panel-body
                | Zero. Currently, even we are trying to see our model trying to see if such a business model works in the domain of angel investing.
      |     
      #generalstartup
        h4 General Startup Questions
        #accordion3.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_1")
                | What is investing in businesses about?
            |         
            #3_1.panel-collapse.collapse
              .panel-body
                | Investing in businesses is about picking businesses that you believe have the potential to grow. You invest in exchange for a portion of their equity, meaning that you buy shares in the business. If a business you've invested in succeeds, the shares that you own will become worth more than you paid for them. However, if the business fails - as the majority of early-stage businesses do - you'll lose your investment.
          |     
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_2")
                | Do businesses issue shares directly to investors?
            |         
            #3_2.panel-collapse.collapse
              .panel-body
                | Yes.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_3")
                | If businesses issue shares directly to investors, what does FundMyVenture do?
            |         
            #3_3.panel-collapse.collapse
              .panel-body
                | We help connect you with people who are interested in investing in early stage businesses. We understand that building a startup is hard, so we want that as an entrepreneur you spend all your energy working on your product and let us bring you interested people who are willing to help you out in the journey, be it through financial funding or contributing via sweat equity or both!
          |      
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_4")
                | Why do businesses need to raise investment?
            |         
            #3_4.panel-collapse.collapse
              .panel-body
                | When an entrepreneur starts a new venture, they usually need money to turn the idea into the beginnings of an actual business that can reach out to customers and later-stage investors. Depending on the business, this capital might allow them to build a minimum viable product (technology startups), buy equipment (manufacturing businesses), lease space and acquire inventory (retail companies), hire a great team, expand their market and customer acquisition efforts, and so forth.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_5")
                | How much equity do investors get for their investment?
            |         
            #3_5.panel-collapse.collapse
              .panel-body
                | Each business decides how much money it wants to raise in exchange for a certain percentage of its equity, and each investor’s equity interest will be proportionate to the size of their investment. So if a campaign raises Rs. 10,50,000 in exchange for 20% of its equity, and you invest Rs. 10,500 (1% of Rs. 10,50,000), you will receive 0.20% (1% of 20%) of the equity of the business.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_6")
                | What types of businesses can use FundMyVenture to raise capital?
            |         
            #3_6.panel-collapse.collapse
              .panel-body
                | A wide range of businesses can seek capital through FundMyVenture, from high-growth, technology-driven ventures, to more traditional businesses like retail stores, restaurants and professional services firms, regardless of the business’s stage of growth, whether it be an idea-stage startup or later-stage growth business.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_7")
                | Is FundMyVenture an angel network?
            |         
            #3_7.panel-collapse.collapse
              .panel-body
                | No. Angel networks introduce investors and entrepreneurs but tend not to get closely involved in the investment process - it’s up to each investor and each entrepreneur to negotiate a deal individually and get lawyers to draft up the necessary contracts. FundMyVenture is a full investment platform, allowing investors to invest in businesses directly. It is upto the investor and the startup's discretion whether they want to take up the legal work by themselves or with our partner legal team. Many angels choose to invest through FundMyVenture because of the increased efficiency and access to deal flow.
          |     
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_8")
                | Is FundMyVenture like peer-to-peer lending?
            |         
            #3_8.panel-collapse.collapse
              .panel-body
                | There are similarities but also important differences. The concept of having many people provide finance in small quantities via the internet was pioneered by peer-to-peer lending platforms.    However, there are two major distinctions between peer-to-peer lending and FundMyVenture. First, FundMyVenture is generally about early and growth-stage finance for businesses, whereas most peer-to-peer lending sites focus on personal finance or later-stage businesses. And second, FundMyVenture is about equity investment rather than debt, which means that investors who use FundMyVenture can achieve much higher returns than they would in peer-to-peer lending, but they also bear the risks of the business and won't get their original investment back if the business fails.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_9")
                | Is FundMyVenture a form of crowdfunding?
            |         
            #3_9.panel-collapse.collapse
              .panel-body
                | Yes. Crowdfunding is a broad term that has come to be used for a wide-range of financing techniques, including charitable and political donations, art patronage and entrepreneurial finance. Most forms of crowdfunding have not provided funders with a potential for financial return: they usually rely on altruistic giving or non-monetary rewards (donation and reward based crowdfunding). FundMyVenture allows people to back businesses by crowd investing, rather than donating, and therefore receive genuine financial returns when their investments are successful.
                br
                |                 An important example here is that of Oculus Rift. While Oculus raised initial money (to realize the market value proposition) via reward based crowdfunding website Kickstarter, none of the people who backed the project then on Kickstarter got any return when Oculus Rift was acquired by Facebook for $2 Billion!
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_10")
                | Should a business raise debt or equity?
            |         
            #3_10.panel-collapse.collapse
              .panel-body
                | We think that equity is a much better option than debt for growth-focused businesses, because equity creates a greater alignment of interests between the investors and the entrepreneur.
                br
                |  Early-stage businesses, by their nature, tend to involve a lot of risk and a high likelihood of failure. If a business raises debt capital and it doesn't work out, the lender can still insist on being repaid - which in many cases means that the business has to pay them back personally or else declare bankruptcy. And even if the business goes well, lenders usually want to be repaid very quickly, so the entrepreneur is forced to take cash out of the business that could be used to grow.
                br
                |  In contrast, raising equity capital allows businesses and their investors to share the risk of the business, so founders don't end up personally ruined if the business fails, and it's in the investors’ interest to see the business grow rather than pay out cash quickly. Once the business has grown and become less risky, it may be that debt is a useful option to finance expansion or working capital needs, but when raising growth capital we feel that equity is the way to go (that’s why we built a platform for investing in equity!).
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_11")
                | How can entrepreneurs protect the confidentiality of their idea?
            |         
            #3_11.panel-collapse.collapse
              .panel-body
                | They can't, but confidentiality is the last thing a new business should be worrying about. Sharing their idea is critical to raising funds, attracting collaborators and building their product. We strongly advise startups to only disclose information which they are comfortable to on the platform, and connect with the investors individually to share much sensitive information. 
                br
                |  What about the risk that someone steals the idea in the process? Eric Ries provides a very clear answer to this in The Lean Startup:
                br
                |  "The most common objection I have heard over the years to building a minimum viable product is fear of competitors - especially large established companies - stealing a startup's idea. If only it were so easy to have a good idea stolen! Part of the special challenge of being a startup is the near impossibility of having your idea, company or product be noticed by anyone, let alone a competitor. In fact, I have often given entrepreneurs fearful of this issue the following assignment: take one of your ideas, find the name of the relevant product manager at an established company who has responsibility for that area, and try to get them to steal your idea. Call them up, write them a memo, send them a press release - go ahead, try it! The truth is that most managers in most companies are already overwhelmed with good ideas. Their challenge lies in prioritization and execution, and it is those challenges that gives a startup hope of surviving. If a competitor can out-execute a startup once the idea is known, the startup is doomed anyway..."
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_12")
                | What is the downside to raising equity investment through FundMyVenture?
            |         
            #3_12.panel-collapse.collapse
              .panel-body
                | The main downside to raising investment is that entrepreneurs have to give away equity in the business. This could mean sharing future potential profits with investors, instead of keeping it for themselves. This may occur when the business eventually seeks an exit opportunity, such as a sale of the company or flotation, or distributes some of their profits out in dividends. Most entrepreneurs are happy to accept this trade-off, as in practice it usually means that they get a slightly smaller piece of a much larger pie. But if founders are really determined to keep ownership of 100% of the business, then they should look for other ways to finance it.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_13")
                | Does FundMyVenture review each campaign's Q&A section?
            |         
            #3_13.panel-collapse.collapse
              .panel-body
                | We do not review or approve the content in the Q&A which accompanies FundMyVenture campaigns. The Q&A constitutes "one-off communications" between entrepreneurs and potential investors and should be treated as one-on-one conversations. It is the responsibility of a campaigning entrepreneur to monitor and respond to questions raised in their Q&A and respond to them accordingly. We are not able to remove Q&A content on request, however, we do reserve the right to remove any content in the Q&A that we consider spam, abuse or trolling.
          |      
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_14")
                | Does FundMyVenture advise as to where to invest?
            |         
            #3_14.panel-collapse.collapse
              .panel-body
                | We are not authorised to give advice. While we confirm and approve all the information provided in each campaign, we do not make our own judgment about whether it's a good business. We believe that a large number of diverse investors are better suited to assess the business’s prospects than a few professional managers. That said, we do our best to exclude businesses that are proposing to do something illegal, unethical or just not viable.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_15")
                | Is there a minimum or a maximum investment?
            |         
            #3_15.panel-collapse.collapse
              .panel-body
                | It depends. Government of India imposes a restriction that a company can raise money from a maximum of 200 investors in one financial year. As a result, it is often possible that there is a minimum investment an individual needs to make to ensure that they get their name in the shareholder's certificate. For example: A company trying to raise 1 crore in their fundraise cannot simply afford to include every investor's name in the share holder's certificate if their investment is say less than Rs. 10,000. The maximum investment is however much money the business is willing to accept, less anything that's already been committed by other investors.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_16")
                | Is there a minimum or a maximum that can be raised?
            |         
            #3_16.panel-collapse.collapse
              .panel-body
                | No. There is no minimum or maximum.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_17")
                | What happens if a fundraise doesn’t reach its target?
            |         
            #3_17.panel-collapse.collapse
              .panel-body
                | Investors will get their money back in full. FundMyVenture operates on an all-or-nothing basis, meaning that if the business does not raise all of the money its campaign is seeking within it's allotted campaign period, it gets nothing and investors receive their funds back into their account.
                br
                |                 If however, say the fundraise is stuck very close to completion (greater than 90% of the initial ask), then it is upto the individual investor and the startup if they want to continue with the transaction. A benchmark of 90% is generally kept so that the entrepreneur gets enough money to deliver what they promised off in the first place (during the fund raise).
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_18")
                | What is "overfunding" of fundraise campaigns?
            |         
            #3_18.panel-collapse.collapse
              .panel-body
                | After a fundraise has reached 100% of its funding target, entrepreneurs have the option of raising more than their target investment amount if the demand is there from investors. We call this "overfunding". 
                br
                |  We operate an all-or-nothing model where entrepreneurs must reach their minimum target or investors get their funds back. But if a fundraise goes into overfunding, the entrepreneur will be able to accept any amount from 100% and up during the remaining duration of their fundraise (in exchange for a corresponding amount of additional equity). Entrepreneurs are not required to take investment but reserve the right to accept any amount beyond 100%.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_19")
                | Once a fundraise has reached its target will the investment definitely be completed?
            |         
            #3_19.panel-collapse.collapse
              .panel-body
                | No. Once all the money has been invested, we conduct a legal due diligence process and negotiate a legal agreement with the business on behalf of investors before the investment is completed. If we identify problems in the legal due diligence process or are unable to agree legal terms, we'll cancel the investment and return funds back to investors, just as we would if the fundraise had not received commitments for all of the money it was seeking.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_20")
                | What fee do you charge businesses?
            |         
            #3_21.panel-collapse.collapse
              .panel-body
                | Zero. Currently, even we are trying to see our model trying to see if such a business model works in the domain of angel investing.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_22")
                | How do investors find out about FundMyVenture?
            |         
            #3_22.panel-collapse.collapse
              .panel-body
                | We market FundMyVenture to investors using PR, social media, conferences and other ways to communicate the benefits of investing in exciting new businesses. 
                br
                | We also encourage entrepreneurs to tell their friends, family, customers, partners and members of their community about their campaigns. People are far more likely to invest in businesses run by entrepreneurs they know and like. While campaigns usually get some investment from people who find them on the site, they tend to receive get a more engaged and enthusiastic investor base from people they send the campaign to directly from within their existing network.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_23")
                | Why do businesses need FundMyVenture to raise money?
            |         
            #3_23.panel-collapse.collapse
              .panel-body
                | FundMyVenture is the easiest way for founders to access the capital of people who want to invest in businesses but do not have both the money and time to be traditional angel investors. This could include friends, family, customers and members of a business's community, along with other people across Europe who are interested in, and want to share in the success of, dynamic new businesses. Due to high transaction costs and other considerations, it is very difficult to raise capital from these people directly offline. FundMyVenture makes it a straightforward and simple process for companies to raise investment, as well as build engagement with, or reward, their community.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_24")
                | Will founders still have control of their business if they raise through FundMyVenture?
            |         
            #3_24.panel-collapse.collapse
              .panel-body
                | Accepting external investment into a company (from any source) always comes with certain responsibilities, but entrepreneurs are still in control of their business on a day-to-day basis.
                br
                | So long as they retain over 50% of the business's equity, they will keep control of it. For this reason, we suggest that they do not offer more than 50% of a business's equity in exchange for the money raised through FundMyVenture.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_25")
                | What's to stop entrepreneurs from running away with the money?
            |         
            #3_25.panel-collapse.collapse
              .panel-body
                | Us. We have a number of measures in place – including conducting upfront checks, holding entrepreneurs and businesses accountable for the information they have provided us, and, if necessary taking legal action against the entrepreneurs and business for non-compliance with the subscription agreement – to ensure that the  investment monies are used for genuine business purposes. Entrepreneurs may make bad business choices, and that's a risk investors bear, but if any entrepreneur tries to act dishonestly we will investigate and, if appropriate, pursue legal action against them. That said, we believe that 99.9% of entrepreneurs are well-intentioned people trying to create great businesses, and we expect only to have to use these measures on rare occasion.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_26")
                | Can investors stay involved with businesses after they've invested?
            |         
            #3_26.panel-collapse.collapse
              .panel-body
                | Absolutely. In addition to watching the business’s progress through the Portfolio section of the website, investors are welcome to reach out to the business to offer support, advice or mentorship at any time. One of the biggest benefits to a business using FundMyVenture to raise capital is that it can tap the expertise and wisdom of its large base of investors.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_27")
                | What happens if a business fails?
            |         
            #3_27.panel-collapse.collapse
              .panel-body
                | This is more likely to happen than not. In some cases the business will either be wound up or sold for a nominal price, while in other cases the business won't formally shut down but we'll write off the investment and dispose of the shares. Any proceeds from these processes will be distributed to investors, but they're likely to represent far less than the original investment, and there may not be any proceeds at all.
          |     
          .panel.panel-default
            .panel-heading
              h4.panel-title(data-toggle="collapse", data-target="#3_28")
                | In addition to capital, can investors mentor and support businesses?
            |         
            #3_28.panel-collapse.collapse
              .panel-body
                | Yes. The main form of mentorship and support comes from investors. We find that often the most useful thing for a business (other than capital) is connecting with the right specialist, and then deciding how and if they would like to work with them. By raising funds on FundMyVenture, businesses will be connected with hundreds, and potentially thousands, of people from a range of backgrounds, all of whom have a vested interest in the success of the business. Somewhere in that crowd there is likely to be someone who can help with what is needed, when it's needed (as well as lots of people who can test products and act as early-adopters and mavens). Additionally, we will be very happy to introduce teams to our extensive network of mentors, advisers, vendors and later-stage investors.
          |     
          br
    |     
    |     
    |     
    div
      script(type="text/javascript").
        $(function () {
        var active = true;
        $('#collapse-init').click(function () {
        if (active) {
        active = false;
        $('.panel-collapse').collapse('show');
        $('.panel-title').attr('data-toggle', '');
        $(this).text('Enable accordion behavior');
        } else {
        active = true;
        $('.panel-collapse').collapse('hide');
        $('.panel-title').attr('data-toggle', 'collapse');
        $(this).text('Disable accordion behavior');
        }
        });
        $('#accordion1').on('show.bs.collapse', function () {
        if (active) $('#accordion1 .in').collapse('hide');
        });
        $('#accordion2').on('show.bs.collapse', function () {
        if (active) $('#accordion2 .in').collapse('hide');
        });
        $('#accordion3').on('show.bs.collapse', function () {
        if (active) $('#accordion3 .in').collapse('hide');
        });
        $('#accordion4').on('show.bs.collapse', function () {
        if (active) $('#accordion4 .in').collapse('hide');
        });
        $('#accordion5').on('show.bs.collapse', function () {
        if (active) $('#accordion5 .in').collapse('hide');
        });
        $('#accordion6').on('show.bs.collapse', function () {
        if (active) $('#accordion6 .in').collapse('hide');
        });
        });

include footer