include header
doctype html
html
  head
  body
    section#slider-38.mbr-slider.mbr-section.mbr-section--no-padding.carousel.slide(data-ride='carousel', data-wrap='true', data-interval='5000', style='background-color: rgb(255, 255, 255);')
      .mbr-section__container
        div
          //
            <ol class="carousel-indicators">
            <li data-app-prevent-settings="" data-target="#slider-38" class="active" data-slide-to="0"></li>
            <li data-app-prevent-settings="" data-target="#slider-38" data-slide-to="1"></li>
            <li data-app-prevent-settings="" data-target="#slider-38" data-slide-to="2"></li>
            </ol>
          .carousel-inner(role='listbox')
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height.active(style='background-image: url(assets/images/paper-571937_1920.jpg);')
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
                        h1.mbr-hero__text SUPPORT STARTUPS YOU BELIEVE IN!
                        |                                     
                        p.mbr-hero__subtext Angel Investments Made Easy. For Everyone.
                      |                                 
                      .mbr-buttons.btn-inverse.mbr-buttons--center
                        a.mbr-buttons__btn.btn.btn-lg.btn-warning(href='http://fundmyventure.co/investor_signup.php', target='_blank') View active deals!
            .mbr-box.mbr-section.mbr-section--relative.mbr-section--fixed-size.mbr-section--bg-adapted.item.dark.center.mbr-section--full-height(style='background-image: url(assets/images/16859704251_60658b717e_o__1454180652_106.51.243.101.jpg);')
              .mbr-box__magnet.mbr-box__magnet--sm-padding.mbr-after-navbar
                .container
                  .row
                    .col-sm-8.col-sm-offset-2
                      .mbr-hero
                        h1.mbr-hero__text Easy Fund Raising!
                        |                                     
                        p.mbr-hero__subtext We are democratising the way startups raise money.
                      |                                 
                      .mbr-buttons.btn-inverse.mbr-buttons--center
                        a.mbr-buttons__btn.btn.btn-lg.btn-warning(href='http://fundmyventure.co/venture_signup.php', target='_blank') Register your startup!
            //
              <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(assets/images/cloud-icon-accelerate.png);">
              <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-after-navbar">
              <div class=" container">
              <div class="row"><div class="col-sm-8 col-sm-offset-2">
              <div class="mbr-hero">
              </div>
              </div></div>
              </div>
              </div>
              </div>
          |             
          |             
          a.left.carousel-control(data-app-prevent-settings='', role='button', data-slide='prev', href='#slider-38')
            span.glyphicon.glyphicon-menu-left(aria-hidden='true')
            |                 
            span.sr-only Previous
          |             
          a.right.carousel-control(data-app-prevent-settings='', role='button', data-slide='next', href='#slider-38')
            span.glyphicon.glyphicon-menu-right(aria-hidden='true')
            |                 
            span.sr-only Next
    section#features1-21.content-2.col-4(style='background-color: rgb(255, 255, 255);')
      .container
        #investor.row
          div
            .thumbnail
              h1 Investors
        |         
        .row
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/innovative.png')
              |                     
              .caption
                div
                  h3 Invest in innovative enterprises!
                  |                             
                  p
                    | Put your money in businesses close to your heart. Support startups from your local community, college, and ideas that you believe will rule the future!
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/smart.png')
              |                     
              .caption
                div
                  h3 Beat the markets by playing smart!
                  |                             
                  p
                    | Spread investments among different companies and control the risks involved. Beat the average market returns by betting on ideas that you believe will rule the future.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/success.png')
              |                     
              .caption
                div
                  h3 Be a part of their success story!
                  |                             
                  p
                    | Get exclusive access to deals and opportunties. Don&apos;t miss out on the opportunity to invest early in the next Flipkart! When they grow, you grow!
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/join.png')
              |                     
              .caption
                div
                  h3 Join FundMyVenture as investor!
                  |                             
                  p
                    a(href='investor_signup.php') Signup
                    |  as an investor on FundMyVenture (currently in public beta). No spamming at all, promise!
        |         
        #startup.row
          div
            .thumbnail
              h1 Startups
        |         
        .row
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/raise.png')
              |                     
              .caption
                div
                  h3 Raise money easily
                  |                             
                  p
                    | Our solutions makes fund raising very easy for your startup. Whether you are early stage or in growth stage, we have the solutions for you.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/mentor.png')
              |                     
              .caption
                div
                  h3 Get mentorship &amp; advisors
                  |                             
                  p
                    | The importance of a good business mentor should never be underestimated, especially if you are a new business.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/focus.png')
              |                     
              .caption
                div
                  h3 Focus on your business.
                  |                             
                  p
                    | Let us take care of your fund raising process so that you can work on what you do best - Building your busines!
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/join.png')
              |                     
              .caption
                div
                  h3 Join FundMyVenture!
                  |                             
                  p
                    a(href='venture_signup.php') Signup
                    |  as an entrepreneur and we will take care of the rest. Register your startup for an efficient fundraise!
    section#testimonials1-34.mbr-section.mbr-section--relative.mbr-section--fixed-size(style='background-color: rgb(247, 218, 100);')
      div
        #about.mbr-section__container.mbr-section__container--std-padding.container
          .row
            .col-sm-12
              ul.mbr-reviews.mbr-reviews--wysiwyg.row
                li.mbr-reviews__item.col-sm-6.col-md-4
                  .mbr-reviews__text
                    p.mbr-reviews__p
                      | We provide a source of alternative financial investment by allowing people contribute to the ideas they believe can change the world!
                  |                             
                  .mbr-reviews__author.mbr-reviews__author--short
                    .mbr-reviews__author-name What are we trying to do
                li.mbr-reviews__item.col-sm-6.col-md-4
                  .mbr-reviews__text
                    p.mbr-reviews__p
                      | Democratization of capital to truly establish the concept of #StartupIndia.
                  |                             
                  .mbr-reviews__author.mbr-reviews__author--short
                    .mbr-reviews__author-name Vision
                li.mbr-reviews__item.col-sm-6.col-md-4
                  .mbr-reviews__text
                    p.mbr-reviews__p We are a team of alumni from IIT Kanpur, Stanford GSB and ICAI.
                  |                             
                  .mbr-reviews__author.mbr-reviews__author--short
                    .mbr-reviews__author-name Team
include footer