include header
html
  head
    style(type='text/css').
      div.polaroid {
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      }
  body
    section.content-2.col-4(style='background-color: rgb(255, 255, 255);')
      .container
        h1(style='color:rgb(0,186,255);')
          u Advantages
        |         
        .row
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/innovative.png')
              |                     
              .caption
                div
                  h3 Invest in innovative enterprises!
                  |                             
                  font(face='Verdana')
                    | Put your money in businesses close to your heart. Support startups from your local community, college, and ideas that you believe will rule the future!
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/smart.png')
              |                     
              .caption
                div
                  h3 Beat the markets by playing smart!
                  |                             
                  font(face='Verdana')
                    | Spread investments among different companies &amp; control the risk involved. Beat the average market returns by betting on ideas that you believe will rule the future.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/success.png')
              |                     
              .caption
                div
                  h3 Be a part of their success story!
                  |                             
                  font(face='Verdana')
                    | Get exclusive access to deals and opportunties. Don&apos;t miss out on the opportunity to invest early in the next Flipkart! When they grow, you grow!
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/join.png')
              |                     
              .caption
                div
                  h3 Connect with like-minded people!
                  |                             
                  font(face='Verdana')
                    | Network and interact with other investors, and take advantage of business opportunities, if and when they arise.
        |        
        h1(style='color:rgb(0,186,255);')
          u Types of Investments
        h4
          | Apart from debt based investments (which typically work the same way as debt instruments by banks), you can participate in equity investments in the following ways:
        |      
        |        
        .col-lg-6
          .col-lg-offset-1.padder-8.polaroid
            h4.m-b-16
              b
                u Lead Investor
            |                 
            p.m-b-24(style='min-height:60px;')
              | As the name suggests, lead investors lead fund raising rounds of privately listed companies, by typically contributin about 
              b 20%-25%
              |  of total fund raising amount. 
              br
              br
              | Generally, seasoned investors who have prior experience funding private companies serve as lead investors. They are responsible for negotiating and determining the true valuation of the company. For a business raising funds, it is very important to find a lead investor as it also validates the company&apos;s valuation and readiness to raise funds.In a way, lead investors determine whether a company is 
              b &quot;investment-ready&quot;
              |  or not. 
              br
              br
              | Once a lead investor determines a valuation (by also buying a significant chunk of it), other investors jump in to close the round (i.e. to gather the rest of the funds). Lead investors can opt for board member seats (if applicable) in the company.
        |       
        |             
        style(type='text/css').
          div.horizontalgap{float:left;overflow:hidden;height:1px;width:0px;}
        |             
        .horizontalgap(style='width:10px')
        |               
        |             
        .col-lg-6
          .col-lg-offset-1.padder-8.polaroid
            .form-group.radio-toggler
              h4.m-b-16
                b
                  u Normal Investor
              |               
              |                 
              p.m-b-24(style='min-height:60px;')
                | Normal investors invest alongside lead investors. They are generally first time investors who are new to angel investing, and it is thereby safe for these investors to invest along side active angels. Once the valuation is determined by the lead investor, other investors put in their contributions proportionate to the amount of equity they&apos;d like to buy in the business. Please note that renegotiation of terms is not possible with normal investors.
                br
                br
                |                    Companies Act 2013 states that a private limited company in India cannot raise funds from more than 200 shareholders in one financial year - this means that many a times, company&apos;s promoters might keep a 
                b minimum
                |  contribution limit for the investor&apos;s name to be counted in for the shareholder&apos;s certificate. Normal investors can also ask for a board member seat(s) in the company (if applicable) depending on their investment size.
        
        h1(style='color:rgb(0,186,255);')
          u How it works
        |         
        h3 Entrepreneur submits the application
        |         
        img(src='pitch_process.svg', width='100%', alt='Investment pitch process')
        |         
        h3 Investors evaluate available deals
        |         
        img(src='investor_flow_diagram.svg', width='100%', alt='Investor process')
        |         
        h1(style='color:rgb(0,186,255);')
          u What you get with FundMyVenture
        |          
        #investor.row
        |         
        .row
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering1.png')
              |                     
              .caption
                div
                  h3 Great Dealflow
                  |                             
                  font(face='Verdana')
                    | Investors can discover companies in different stages - From idea-stage startups to mature companies, there are plenty of businesses to buy into.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering2.png')
              |                     
              .caption
                div
                  h3 Deal Curation
                  |                             
                  font(face='Verdana')
                    | We thoroughly vet each campaign to ensure that statements are true, fair, clear and not-misleading before it goes live.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering3.png')
              |                     
              .caption
                div
                  h3 Simple co-investment
                  |                             
                  font(face='Verdana')
                    | Angel investors and venture capitalists invest alongside, and on the same terms as, friends, family and other supporters.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering4.png')
              |                     
              .caption
                div
                  h3 Real Investment
                  |                             
                  font(face='Verdana')
                    | The investment terms are decided by a seasoned investor who also buys a significant share in the fundraise thereby making it a sweet deal for everyone.
        |         
        .row
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering5.png')
              |                     
              .caption
                div
                  h3 Investor Protection
                  |                             
                  font(face='Verdana')
                    | Every investor receives extensive protections and rights with our professional-grade shareholder agreements.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering6.png')
              |                     
              .caption
                div
                  h3 End to End Service
                  |                             
                  font(face='Verdana')
                    | We&apos;re not just introducers. Our team can handle all your legal documentation, tax relief paperwork, administration and payment.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering7.png')
              |                     
              .caption
                div
                  h3 Simplified Administration
                  |                             
                  font(face='Verdana')
                    | Share in each business&apos;s success - our nominee structure makes it simple for us to monitor and enforce your rights as an investor.
          |             
          div
            .thumbnail
              .image
                img.undefined(src='assets/images/offering8.png')
              |                     
              .caption
                div
                  h3 Ongoing Investor Relations
                  |                             
                  font(face='Verdana')
                    | Easily keep-in-touch with businesses, online and off, throughout the investment lifecycle - from pitching through to exit.
    style(type='text/css').
      .scroll-top {
      border-radius:6px;
      position:fixed;
      bottom:4%;
      right:4%;
      left:4%;
      z-index:100;
      background: #ffcc33;
      font-size:24px;
      }
      .scroll-top a:link,.scroll-top a:visited {
      color:#222;
      }
      #button {
      line-height: 12px;
      width: 18px;
      font-size: 8pt;
      font-family: tahoma;
      margin-top: 1px;
      margin-right: 2px;
      position:absolute;
      top:0;
      right:0;
      }
    script(type='text/javascript').
      function f(){
      document.getElementById("a").style.display="none";
      }
    center
      #a.nav.pull-right.scroll-top
        span.glyphicon.glyphicon-heart
        |    
        a(href='investor_signup.php') Signup for free
        |  to view the best deals available.
        |         &nbsp;&nbsp;&nbsp;
        input#button(type='button', onclick='f()', value='X')
include footer